@tailwind base;
@tailwind components;
@tailwind utilities;
/* Glass effect */
.glass {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.custom-toast {
    border-top: 8px solid #374151 !important; /* Gris oscuro Tailwind: gray-800 */
    border-radius: 1rem;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
}
